.header {
  padding: 18px 0;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen {
      (min-width: 480px; max-width: 658px;)
    }
  }
  .header_list {
    display: flex;
    align-items: center;
    gap: 34px;
    @media screen {
      (min-width: 480px;)
    }
  }
  .header_link {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #404040;
    @media screen {
      (min-width: 480px;)
    }
  }
}
